extends partials/base.pug

block content
  .site-wrap
    #particles-js
    .site-section.reduced-padding
      .container
        .site-section.reduced-padding
         .container
          .col-lg-4(data-aos='fade-up' data-aos-delay='100')
            .site-section-heading
              h2 Projects
          .col-lg-5.mt-5.pl-lg-5(data-aos='fade-up' data-aos-delay='200')
            p
              | We are working on a few funded high-level projects in
              | collaboration with various organisations to help the students
              | gain industrial exposure and also get interesting internship
              | opportunities.
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid.braintech(src='/static/images/braintech.gif' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | Brain Computer Interface
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                | A brain-computer interface (BCI) is a technology that allows
                | communication between a human or animal brain and an external
                | technology. This term can refer to an interface that takes
                | signals from the brain to an external piece of hardware, or a
                | technology that sends signals to the brain. Various different
                | brain-computer interface technologies have been developed at
                | different times, through different methods and for diverse
                | purposes, including in virtual reality technology. 
                br
                br
                | We work on BCI using emotive device to analyze brain waves and
                | to understand which brainwaves are generated during which
                | activities.
        br
        br
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0.order-lg-2(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/bonetech.gif' alt='Image')
          .col-lg-6.ml-auto.order-lg-1
            h2.text-white.ml-4.mb-4.name(data-aos='fade-left' data-aos-delay='200')
              | Bone Conduction
            .bio.pr-lg-5
              p.mb-4(data-aos='fade-left' data-aos-delay='400')
                | Air conduction refers to sound from the outside carried by air
                | waves from the outer ear and transferred to electrical waves
                | in the inner ear. Bone conduction refers to sound conducted as
                | subtle vibration along the bones to the inner ear housing the
                | organs of hearing and balance. The sound vibration actually
                | activates both the sense of hearing and the organ of balance.
                | The vibration, in fact, is carried through the entire skeletal
                | structure. We are working on a device which can facilitate
                | this by using transducers.
        br
        br
        .row.align-items-center.speaker
          .col-lg-6.ml-auto.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/projects/Weather3.gif' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.mb-4.name(data-aos='fade-right' data-aos-delay='200' style='margin-left:80px;')
              | Weather Application: 
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                |  We are working on a weather front end application for our college. In any front end application, 
                |  the main goal is to make the user experience feel natural and intuitive. Since our application will 
                |  be displayed around campus televisions we came up with a touchless interface. We use machine 
                |  learning for gesture controls to control the interface without using touch. The interface is deployed 
                |  on arm devices locally which are synchronized through cloud. 
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0.order-lg-2(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/projects/LiveInArcade3.gif' alt='Image')
          .col-lg-6.ml-auto.order-lg-1
            h2.text-white.ml-4.mb-4.name(data-aos='fade-left' data-aos-delay='200')
              | Live In Arcade
            .bio.pr-lg-5
              p.mb-4(data-aos='fade-left' data-aos-delay='400')
                | With the roaring success of the Falling Blocks Game, IEEE Computer Society returned with an interactive controller based car racing game. Built on Unity 2D and using NodeMCU for the interaction between the sensor and the game,the players competed with each other, avoiding obstacles and trying to get the better of their opponent by using their skill on the wheel. The controllers were built to resemble real life steering wheels and the game was a huge success as an event.

        br
        br
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid.braintech(src='/static/images/projects/FallingBlocks2.gif' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | Falling Blocks Game: 
            br
            br
            br
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                |  We worked on an interactive controller-based game to be displayed in our college tech fest. 
                |  In the game, the player had to balance the falling blocks on a plate which could be controlled 
                |  by moving a physical box with a gyroscope and accelerometer sensor in it. The game itself 
                |  was built on Unity 2D and NodeMCU was used for the interaction between the sensor and the 
                |  game. 

        br
        br


