extends partials/base.pug

block content
  .site-wrap
    #particles-js
    .site-section.reduced-padding
    .container
      .container
        .row.mb-5
          .col-lg-4(data-aos='fade-up' data-aos-delay='100')
            .site-section-heading
              h2 Workshops
        .row.align-items-center.speaker
          .col-lg.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | Bootcamps:
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
              | In an effort to help the members of the IEEE Computer Society learn efficiently, we organized 
              | self-paced boot camps on topics like Machine Learning, IoT and Robotics, Web Development and 
              | Basic Python programming. Based on their interests, our members are divided and provided with 
              | resources to make their learning structured. Being self-paced and highly interactive, the members
              | are able to explore their fields of interest and apply their knowledge in a fun, trouble-free way
              | through the boot camps. We’re also constantly sharing resources to keep them updated about the 
              | various advancements in their fields and help them streamline their efforts in the most efficient
              | way possible

        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0.order-lg-2(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/events/workshop.jpg' alt='Image')
          .col-lg-6.ml-auto.order-lg-1
            h2.text-white.ml-4.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | IoT & Blockchain Workshop
            .bio.pr-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                | The IoT & Blockchain Workshop was the first event of the IEEE computer Society for this Academic year
                | and it was made glorious accordingly. 
                br
                br
                | Students were first taught some basics of Python by Aylmer Britto. Python is a required language for
                | mostly IoT applications and using Raspberry Pi. As Python is easy to grab and students were very
                | excited to learn this new language, they learned the basics very easily.
                br
                br
                | The second half of workshop was led by Sridhar Pandian. As students listened to him talk about
                | blockchain, they were amazed to learn a hard concept in a simple and elegant way. Starting with
                | introduction of blockchain, he leaned students towards how various transactions are held in blockchain.

        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid.braintech(src='/static/images/events/hackhub.jpg' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | Robotics and IoT Workshop
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                | The IEEE Computer Society VIT Chennai Branch conducted a workshop on the 7 th and 8 th 
                | of September 2019 for the budding enthusiasts who want to jump into the world of robotics 
                | and explore its opportunities. Spread over two days, it focused on helping the participants 
                | build a strong base in fundamental concepts, along with providing them with hands-on experience 
                | in implementing the concepts as they learn. A Make-a-thon was conducted at the end of the workshop, 
                | where the students could apply what they’ve learned to solve real-world problems. 
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0.order-lg-2(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/events/expound.jpg' alt='Image')
          .col-lg-6.ml-auto.order-lg-1
            h2.text-white.ml-4.mb-4.name(data-aos='fade-left' data-aos-delay='200')
              | Tensor flow with Google Colab
            .bio.pr-lg-5
              p.mb-4(data-aos='fade-left' data-aos-delay='400')
                |  The IEEE Computer Society VIT Chennai held a session during our annual college tech fest on 
                | 11 th September 2019 on where we introduced the participants to the possibilities of running 
                | their models on the cloud, without the need of a high-performance GPU. A small competition was 
                | conducted at the end, where the participants were asked to increase the accuracy of a model. It 
                | was an extremely informative session and the participants were also provided with resources through 
                | which they could continue their learning in the right direction. 

        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid.braintech(src='/static/images/events/hackhub.jpg' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | Bootcamps:
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
              | In an effort to help the members of the IEEE Computer Society learn efficiently, we organized 
              | self-paced boot camps on topics like Machine Learning, IoT and Robotics, Web Development and 
              | Basic Python programming. Based on their interests, our members are divided and provided with 
              | resources to make their learning structured. Being self-paced and highly interactive, the members
              | are able to explore their fields of interest and apply their knowledge in a fun, trouble-free way
              | through the boot camps. We’re also constantly sharing resources to keep them updated about the 
              | various advancements in their fields and help them streamline their efforts in the most efficient
              | way possible
